<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-faceki"
    version="1.0.0">
    <name>FaceKi Plugin</name>
    <description>Cordova plugin for FaceKi Blaze Android SDK</description>
    <license>Apache 2.0</license>
    <keywords>cordova,faceki,kyc,verification,android</keywords>

    <js-module src="www/FaceKiPlugin.js" name="FaceKiPlugin">
        <clobbers target="FaceKiPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FaceKiPlugin">
                <param name="android-package" value="com.geekay.plugin.faceki.FaceKiPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/FaceKiPlugin.java" target-dir="src/com/geekay/plugin/faceki/cordova" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
